extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")
        include ../../partials/list-btn-users.pug
        .row
            .col-12
                .chat(my-id=user.id)
                    .inner-body
                        each chat in chats
                            div(class=(chat.inforUser.id == user.id) ? "inner-outgoing" : "inner-incoming")
                                if(chat.inforUser.id != user.id)
                                    .inner-name #{chat.inforUser.fullName}
                                if(chat.content)
                                    .inner-content #{chat.content}
                                if(chat.images)
                                    .inner-images
                                        each image in chat.images 
                                            img(src = image, alt="Đã gửi ảnh")
                        div(class="inner-list-typing")
                    .inner-foot
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                placeholder="Nhập nội dung ..."
                                name="content"
                            )
                            //- File upload with preview
                            div(class="custom-file-container" data-upload-id="upload-image")
                            
                            span(class="button-icon mx-2") 
                                i(class="fa-regular fa-face-smile")
                            button
                                i(class="fa-solid fa-paper-plane")
    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")
    
    
